html,body{height:100%; width:100%; overflow:hidden;}
body{ position:relative;}
body,h1,h2,h3,form,ul,li,img,input{padding:0; margin:0; border:0 none;}
body,input,button,select{ font-family:微软雅黑, verdana, Simsun, STXihei; zoom:1;}
body{ text-align:center; color:#000; font-size:12px; background-color:#fff;}
header,footer{ margin:0; padding:0; border:0 none; display:block;}
.bgimg,.mainUi{ position:absolute; left:0; top:0; width:100%; height:100%;}
.mainUi{ z-index:1;}
.bgimg{ background-color:#a3a7ab; z-index:0;}
.bgimg img{ position:absolute; left:0; top:0; }
.logo{ position:absolute; left:50%; top:50%; width:480px; height:99px; margin-top:-84px; margin-left:-240px; background:url(/img/logo_blue_little.png) no-repeat left top;}
.login{ position:absolute; left:0; width:100%; left:0; height:80px; bottom:100px; color:#fff; z-index:1;}
.login_inner{ position:relative; left:0; white-space:nowrap; margin:0 auto; width:764px; height:70px; font-size:14px; line-height:20px;}
.loginFormIpt,.loginFormIptOnfocus{ position:absolute; z-index:1; width:268px; height:48px; background:url(/img/input_bg1.png) no-repeat;}
.loginFormIptOnfocus{ background:url(/img/input_bg1_hover.png) no-repeat;}
.loginFormIpt1,.loginFormIpt1Onfocus{position:absolute; z-index:1; width:77px; height:48px; background:url(/img/input_bg2.png) no-repeat;}
.loginFormIpt1Onfocus{ background:url(/img/input_bg2_hover.png) no-repeat;}
.loginTdIpt{ width:300px; height:38px; color:#fff; left:0; line-height:24px; padding:7px 14px; position:absolute; background-color:transparent; font-size:16px;}
#idInputLine{ overflow:hidden; left:0; top:0;}
#pwInputLine{ overflow:hidden; left:284px; top:0;}
#yzInputLine{ overflow:hidden; left:568px; top:0; width:77px;}
.formSubmit{cursor:pointer; position:absolute; top:0; right:0; width:108px; height:40px; background:url(/img/dl.png) no-repeat; border:none 0;}
.footer{ width:100%; height:60px; border-top:dotted 1px #ccc; overflow:hidden; color:#fff; position:absolute; z-index:0; left:0; bottom:0; text-shadow:0px 1px 1px #000;}
.footerNav{ position:relative; top:24px; white-space:nowrap; overflow:hidden; margin:0 auto; text-align:center;}
.placeholder{ position:absolute; text-align:left; top:0; left:0; width:268px; height:38px; line-height:38px; text-indent:16px; color:#ccc;}
.login_yzm{ position:absolute; zoom:1; width:71px; height:54px; z-index:2; background:url(/img/yzm_bg_little.png) no-repeat; right:112px; top:-62px; padding:10px; padding-top:4px;}

.FormIpt_L{ background:url(/img/input_bg_left.png) no-repeat; display:inline-block; float:left; height:38px; }
.FormIpt_L .FormIpt_R{ background:url(/img/input_bg_right.png) no-repeat right top; width:260px; display:inline-block; float:right; margin-left:10px; height:38px;}
.FormIpt_user{position:absolute; left:8px; top:8px; color:#ccc; font-size: 12pt; width:250px; text-align:left;}
.login_up,.login_down{position:relative; left:0; white-space:nowrap; margin:0 auto; width:764px; height:30px; font-size:14px; text-align:left; text-shadow:0 1px 1px #000000}

.login_down A:link {
    COLOR: #000000; TEXT-DECORATION: none
}
.login_down A:visited {
    COLOR: #000000; TEXT-DECORATION: none
}
.login_down A:hover {
    COLOR: #000000; TEXT-DECORATION: underline
}